In [1]:
import pandas as pd
import matplotlib.pyplot as plt
 usecols = ['edu_ini','asis_esc','nivel','grado']

In [4]:
f = '../data/raw/1_enut_2024_bd_csv/tvivienda.csv'
TVIVIENDA = pd.read_csv(f,
                       usecols = ['CVEGEO','LLAVEVIV']
                      )
TVIVIENDA

        LLAVEVIV  CVEGEO
0       10009401       1
1       10009402       1
2       10009403       1
3       10009404       1
4       10009405       1
...          ...     ...
28709  326035516      32
28710  326048702      32
28711  326089616      32
28712  326103808      32
28713  326123107      32

[28714 rows x 2 columns]