In [1]:
import pandas as pd
import matplotlib.pyplot as plt

El gasto trimestral normalizado de acuerdo a la decena de levantamiento en la ENIGH significa que el INEGI ajusta los gastos reportados por los hogares para hacerlos comparables, ya que las entrevistas se realizan en diferentes “decenas de levantamiento” (bloques de 10 días). Como cada hogar declara sus gastos en periodos de referencia distintos según cuándo fue encuestado, la normalización corrige esas diferencias temporales —por ejemplo, variaciones de precios o de temporada— y así el gasto trimestral refleja un periodo estándar común para toda la muestra.

In [2]:
f = '../data/raw/enigh2024_ns_gastoshogar_csv/gastoshogar.csv'
gastoHOGAR = pd.read_csv(f, 
                       usecols = ['folioviv',
                                  'foliohog',
                                  'clave',
                                  # 'mes_dia','fecha_adqu','cantidad', 'gasto', 'costo',
                                  'gasto_tri',
                                  # 'entidad',
                                  # 'factor'
                                 ]
                      )
gastoHOGAR.head(10)

    folioviv  foliohog   clave gasto_tri
0  100001901         1  011131    167.14
1  100001901         1  011150    642.85
2  100001901         1  011231    192.85
3  100001901         1  011411    488.57
4  100001901         1  011460   1465.71
5  100001901         1  011481    385.71
6  100001901         1  011721    192.85
7  100001901         1  011748    128.57
8  100001901         1  011911   1028.57
9  100001901         1  011942     25.71

In [3]:
gastoHOGAR.dtypes

folioviv      int64
foliohog      int64
clave        object
gasto_tri    object
dtype: object

In [19]:
# solo nos quedamos con los que sean de electricidad clave = 045100
gasto_HOGAR_luz = gastoHOGAR[gastoHOGAR['clave'] == '045100'].copy()
gasto_HOGAR_luz['gasto_tri'] = pd.to_numeric(gasto_HOGAR_luz['gasto_tri'], errors='coerce')
gasto_HOGAR_luz = gasto_HOGAR_luz.drop(columns = ['foliohog','clave'])
#Vamos a reducir de hogares a viviendas, para ello se sumaran los valores de gasto_tri de todos los hogares de cada vivienda 
gasto_HOGAR_luz = gasto_HOGAR_luz.groupby('folioviv', as_index=False)['gasto_tri'].sum()
gasto_HOGAR_luz

         folioviv  gasto_tri
0       100001901      195.0
1       100001902      900.0
2       100001904      663.0
3       100001905      274.5
4       100002501      481.5
...           ...        ...
82089  3260593814      180.0
82090  3260593815      450.0
82091  3260593816      420.0
82092  3260593817      180.0
82093  3260593818      675.0

[82094 rows x 2 columns]